---

---

<div style="padding: 5vh 5vw;min-height:170vh;display: flex;flex-direction:column;justify-content: center;text-align: center;">
    <div class="" style="font-size: 135%;font-weight: bolder;padding-bottom: 40px;">
        DISCLAIMER
    </div>
    <div style="width: 100vw;align-self:center; text-align: center;padding: 0 30px;">
        this is a mini wish page for everyone who visits this page
        <div style="font-size: 85%;">Plz excuse my wack site structure </div>
    </div>
</div>