--- 

---


<div class="ending" style="padding: 7.5vh 5vw 5vh 5vw;min-height:100vh;display: flex;align-items: center;justify-content: center;font-size: 160%;text-align: center;">
    <div> 
        <b>A happy new year</b> 
        <br>
        <div style="font-size:1.5vh;color:rgb(89, 89, 89);margin-top: 5px;">
            Jan 1 is my birthday btw
        </div>
    </div>
</div>


<div class="ending" style="padding: 7.5vh 5vw 5vh 5vw;min-height:100vh;display: flex;align-items: center;justify-content: center;font-size: 160%;text-align: center;">
    <div> 
        <b>A prosperous 2024 for y'all</b> 
        <br>
        <div style="font-size:1.5vh;color:rgb(89, 89, 89);margin-top: 5px;">
            See you when i see you
        </div>
        <div  style="font-size:1.88vh;margin-top: 27px;margin-left: 190px;color:rgb(129, 129, 129)">
            <i>- with passion, <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kushal Kumar.</i>
        </div>
    </div>
</div>