---

---

<div class="main" style="padding: 5vh 5vw;height:auto;display:flex; flex-direction:column;justify-content: center;text-align: left;align-self: flex-end;line-height: 25px;align-items: center;width: 100vw;">
            
            
    <div class="storybox" style="width: 100vw;min-height: 130vh;display: flex;flex-direction: column;justify-content:flex-end;padding: 5rem 5rem;font-size: 130%;max-width: 100vw !important;">
        <div style="text-align: center;">HNY'24</div>
        <br><br><br><br>

        Since its too much work writing a wish, just take my happy new year.

        <br><br><br><br>

    </div>
    
    
</div>