---

---

<section class="title" style="padding: 5vh 5vw;min-height:100vh;display: flex;align-items: center;justify-content: center;font-size: 270%;text-align: center;">
    <span>
        Grandeous New Year <br> 
        <div style="display:flex;align-items:center;justify-content:center;">
        <section style="color:rgb(255, 89, 255);font-weight: bold;padding: 1px;font-family: 'Ephesis',cursive;">2</section>
        <section style="color:rgb(0, 255, 247);font-weight: bold;padding: 1px;font-family: 'Ephesis',cursive;">0</section>
        <section style="color:rgb(255, 247, 0);font-weight: bold;padding: 1px;font-family: 'Ephesis',cursive;">2</section>
        <section style="color:rgb(255, 255, 255);font-weight: bold;padding: 1px;font-family: 'Ephesis',cursive;">4</section>
        
        </div>
    
    
    </span>
</section>